.email-finder-result .email-finder-message {
    margin-top: 20px;
    color: rgb(136, 136, 136);
}

.response{
	border-top: 1px solid #e6e6e6;
}

.response>div{
	border-bottom: 1px solid #e6e6e6;
    background: #fafbfb;
    font-weight: 700;
}



#files_table tr:hover {
    background-color: #eee;
}


#files_table td:hover {
    cursor: pointer;
}

.invalid-feedback-custom{
	    width: 100%;
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 80%;
    color: #e3342f;
}

.valid-feedback-custom{
	width: 100%;
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 80%;
    color: #228B22;
}
